span {
    font-size: .9em;
}
.withBackButton {
  margin-left: -48px;
}
.fill-remaining-spance {
    text-align: center;
    flex: 1 1 auto;
}
mat-icon {
  transform: scaleY(2) scaleX(-2);
  color: #a1a1a1;
}