<section class="account-details">
    <h3>Account details</h3>

    <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="Username *">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Username *">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password *">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password *">
        </mat-form-field>

        <mat-checkbox>I accept terms and conditions</mat-checkbox>

        <div class="div-button">
            <button type="button" mat-raised-button disabled color="primary">Submit</button>
        </div>
    </div>
</section>