<section class="account-details">
    <h3>Account details</h3>

    <div class="form-container">
        <form [formGroup]="formGroup">

            <mat-form-field>
                <input matInput placeholder="Username *" formControlName="username">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email *" formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password *" formControlName="password">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Confirm Password *" formControlName="confirmPassword">
            </mat-form-field>

            <mat-checkbox formControlName="terms">I accept terms and conditions</mat-checkbox>

            <div class="div-button">
                <button type="button" mat-raised-button [disabled]="!formGroup.valid" color="primary">Submit</button>
            </div>
        </form>
    </div>
</section>